@model IEnumerable<Northwind.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="row align-middle">
    <div class="col-md-9">
        <h1>Index</h1>
    </div>
    <div class="col-md-3 text-right my-auto">
        <a asp-action="Category" class="btn btn-primary"><i class="fas fa-angle-double-left"></i>Back to categories</a>
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    <table class="table-striped container-fluid">
        <thead class="thead">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityPerUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitsOnOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReorderLevel)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Discontinued)
                    </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>*@
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReorderLevel)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>*@
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
